*{
    text-decoration: none;
}
body{
    background: linear-gradient(to right, rgb(9, 9, 61), black 900px);
}
.innodiv{
    padding: 10px 20px;
    justify-content: space-between;
    text-align: center;
    display: flex;

}
ul li{
    display: inline-block;
    text-align: center;

}
li a{
    list-style: none;
    font-size: 22px;
    color: white;
    padding: 60px;
}
.logo{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
h1{
    font-size: 80px;
}
p{
    color: white;
    font-size: 20px;
}
span{
    color: white;
}
.bit{
    color: white;
    background-color: #0408f8;
    width: 90px;
    border-radius: 20px;
    height: 40px;
    font-size: 25px;
    border: none;
}
.blas img{
    width: 700px;
    height: 500px;
    float: right;
    border-radius: 20px;

}
.wel{
    background: linear-gradient(to right, rgb(17, 17, 97), rgb(5, 13, 48));
    border-radius: 10px;
    width: 300px;
    color: #2563EB;
}
p .wel{
    padding: 10px;
}
.hero-line{
    width: 300px;
    height: 6px;
    margin-top: 20px;
    background: linear-gradient(90deg, #00A8FF, #0066FF);
    border-radius: 30px;
    box-shadow: 0 0 12px #008CFF;
}
