*{
    text-decoration: none;
}
body{
    background-image: url(./img/by\ circut\ img.jpg);
    background: transparent, black, gray;
}
.innodiv{
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 45px;
    font-weight: 700;
    font-style: inherit;
}
ul li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}
button{
    background-color: black;
    border-radius: 15px;
    color: white;
    height: 40px;
    width: 100px;
}
.bit{
    background-color: rgb(0, 60, 255);
    border: none;
}
li a{
    color: white;
    border-bottom: rgb(0, 81, 255);
}
.in img{
    border-radius: 48%;
    height: 400px;
    width: 400px;
    float: right;
    padding-left: 30px;
}
.first{
    color: white;
    font-size: 80px;
    font-weight: 700;

}
.tec{
    color: rgb(0, 89, 255);
    font-size: 80px;
    font-weight: 700;
}
.sec{
    color: white;
    font-size: 40px;
    margin-top: -15px;
}
.min{
    color: rgb(0, 60, 255) ;
    font-size: 40px;
    margin-top: -15px;
}
.firs{
    color: rgb(0, 89, 255);
    font-size: 20px;
}
p{
    color: white;
}
.but{
    background-color: rgb(0, 102, 255);
    padding: 10px;
}

.dive{
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-top: 20px;
}
button{
    gap: 10px;
}
.set{
    justify-content: space-between;
    display: flex;
    height: 200px;
}
H4{
    color: white;
    font-size: 20px;
}